.card {
  padding: 1rem;
  width: 100%;
  margin: 6px 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 6px -6px #495057;
  -moz-box-shadow: 0 10px 6px -6px #495057;
  box-shadow: 0 10px 6px -6px #495057; }

.round {
  border-radius: 1rem; }
