@import 'variables.scss';

body{
  background-color: $gray-200 !important;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 10;
  .navbar-brand{
    font-family: 'Mukta';
    font-size: 36px;
  }
  #navbarNav{
    justify-content: flex-end;
  }
}



#logout{
  font-size: 22px;
}

.bg-primary{
  background-color: $theme-color !important;
}
.btn-primary{
  background-color: $theme-color !important; 
  border: $theme-color; 
}

.box-shadow{
  -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
}


// .container-scroll{
//   overflow-x: auto;
//   white-space: nowrap;
//   .row {
//     width: fit-content; /* = 100% * 4/3 */
//     margin-top: 24px;
//     .col-md-3{
//       display: inline-block;
//       float: none;
//     }
//   }
// }
#content{
  padding: 3rem 0;
  overflow: scroll;
  position: relative;
  top: 60px;
}
.vh-100{
  min-height: 100vh;
  height: fit-content;
}

.modal-header,
.modal-footer{
  // border: none;
}

input{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
}

.pacifico{
  font-family: 'Pacifico';
}

#addListItem{
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 0;

}

.modal-dialog{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-list-btn{
  font-size: 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 55px;
  z-index: 11;
  color: #adb5bd;
  transition: all ease-in-out 200ms;
  :hover{
    color: black;
    -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
  }
  ion-icon{
    background: $gray-200;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    
  }
}

.h-100-nav{
  height: fit-content;
  min-height: calc(100vh - 100px);
}

::placeholder{
  color: white;
}

#add-item-btn{
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 15px;
  font-size: 30px;
  color: $theme-color;
}

.delete-list{
  position: absolute;
  right: -3px;
  top: -12px;
}


.lists-grid{
  display: grid;
  grid-auto-columns: max-content;

  .lists{

    display: flex;
    overflow-x: auto;
    padding: 0 10px;

    .list-container{
      padding: 10px;
      .list-card{
        width: 100%;
        max-width: 420px;
        padding: 0.5rem 1rem;
        @media (max-width: 600px){
          max-width: calc(88vw);
        }
      }
      h3{
        font-family: 'Mukta'
      }
      .list{
        list-style: none;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        .completed {
          opacity: .5;
          transition: 200ms ease-in-out all;
          text-decoration: line-through;
          background: $light-green;
          textarea{
            // background: $light-green;
          }
        }
        
        .completed:hover{
          opacity: .8;
          
        }
        li:hover{
          border: 1px solid $gray-300;
        }
        li:focus{
          textarea{
          }
        }
        li {
          transition: 200ms ease-in-out all;
          border:1px solid transparent;
          width: 100%;
          min-height: 50px;
          float: left;
          font-size: 14px;
          display: flex;
          align-items: center;
          font-weight: 500;
          color: #444;
          line-height: 22px;
          background: #fff;
          position: relative;
          margin: 5px 0 5px 0;
          padding: 14px 100px 14px 14px;
          word-break: break-word;
          border-radius: $border-radius;
          -webkit-box-shadow: $box-shadow;
                -moz-box-shadow: $box-shadow;
                    box-shadow: $box-shadow;
          textarea{
            width: 100%;
            padding: 0;
            border: none;
            margin: 0;
            resize: none;
            background: transparent;
          }
          textarea:focus{
            outline: none;
          }
          .list-item-btns{
            position: absolute;
            right: 1rem;
            font-size: 24px;
            span{
              transition: 200ms ease-in-out all;
              margin: 0 2px;
            }
            span:hover{
              color:$theme-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}



.auth-form-titles{
  cursor: pointer;
}

label{
  margin-bottom: 3px;
}
.form-group{
  label{
    display: block;
  }
  input[type='checkbox']{
    width: unset;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .react-datetime-picker{
    width: 100%;
    .react-datetime-picker__wrapper{
      width: 100%;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #ced4da;
    }
  }
  
}

.round{
  border-radius: $border-radius;
}