@import 'variables.scss';

body{
  background-color: $gray-200 !important;
}

.bg-primary{
  background-color: $theme-color !important;
}

#addItem{
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

::placeholder{
  color: white;
}

#add-item-btn{
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 15px;
  font-size: 30px;
  color: $theme-color;
}

.list{
  list-style: none;
  width: 100%;
  padding: 0;
  li {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    position: relative;
    margin: 5px 0 5px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
              box-shadow: $box-shadow;
    .list-item-btns{
      position: absolute;
      right: 1rem;
      font-size: 24px;
    }
  }
}

.round{
  border-radius: $border-radius;
}